USE [master]
GO
/****** Object:  Database [JOB_OA]    Script Date: 10/22/2015 23:16:56 ******/
CREATE DATABASE [JOB_OA] ON  PRIMARY 
( NAME = N'BSY_OA', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BSY_OA.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BSY_OA_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BSY_OA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JOB_OA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JOB_OA]
GO
/****** Object:  Table [dbo].[OA_UI]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OA_UI](
	[UI_ID] [int] IDENTITY(1,1) NOT NULL,
	[UI_IMG] [nvarchar](50) NULL,
	[UI_TITLE] [nvarchar](100) NULL,
	[UI_MESS] [nvarchar](max) NULL,
 CONSTRAINT [PK_OA_UI] PRIMARY KEY CLUSTERED 
(
	[UI_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCESSPATH]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCESSPATH](
	[ACCESSPATH_ID] [int] IDENTITY(1,1) NOT NULL,
	[HTTPMETHOD] [varchar](20) NOT NULL,
	[PATH] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ACCESSPATH] PRIMARY KEY CLUSTERED 
(
	[ACCESSPATH_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXCEPTION]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCEPTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EX_MESSAGE] [nvarchar](500) NOT NULL,
	[EX_TIME] [datetime] NOT NULL,
 CONSTRAINT [PK_EXCEPTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_STATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NOT NULL,
	[IS_ENABLED] [bit] NOT NULL,
	[PERMISSIONS] [varchar](max) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[IS_SECRECY] [bit] NOT NULL,
	[STATE] [int] NOT NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NOT NULL,
	[ACCESSPATH_ID] [int] NULL,
 CONSTRAINT [PK_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](11) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[REAL_NAME] [nvarchar](20) NOT NULL,
	[HEAD_PICTURE] [nvarchar](max) NOT NULL,
	[INTRODUCTION] [nvarchar](max) NULL,
	[LAST_LOGIN_TIME] [datetime] NULL,
	[EMAIL] [varchar](50) NULL,
	[QQ] [varchar](50) NULL,
	[WECHAT] [varchar](50) NULL,
	[IS_ENABLED] [bit] NOT NULL,
	[ROLE] [int] NULL,
	[DEPARTMENT] [int] NOT NULL,
	[ONLINE_STATE] [int] NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_USER_NAME] ON [dbo].[EMPLOYEE] 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TASK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ARRANGE_PERSON] [int] NOT NULL,
	[EXE_PERSON] [int] NOT NULL,
	[CHECK_PERSON] [int] NOT NULL,
	[PARTICIPATOR] [varchar](max) NULL,
	[START_TIME] [datetime] NOT NULL,
	[COMPLETE_TIME] [datetime] NOT NULL,
	[CREATE_TIME] [datetime] NOT NULL,
	[COMMIT_TIME] [datetime] NULL,
	[PROJECT] [int] NOT NULL,
	[STATE] [int] NOT NULL,
	[IS_NOTICE] [bit] NOT NULL,
	[IS_SECRECY] [bit] NOT NULL,
	[ATTACHMENT] [nvarchar](255) NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUB_TASK]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUB_TASK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO] [varchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ARRANGE_PERSON] [int] NOT NULL,
	[EXE_PERSON] [int] NOT NULL,
	[CHECK_PERSON] [int] NOT NULL,
	[PARTICIPATOR] [varchar](max) NULL,
	[START_TIME] [datetime] NOT NULL,
	[COMPLETE_TIME] [datetime] NOT NULL,
	[CREATE_TIME] [datetime] NOT NULL,
	[COMMIT_TIME] [datetime] NULL,
	[TASK] [int] NOT NULL,
	[STATE] [int] NOT NULL,
	[IS_NOTICE] [bit] NOT NULL,
	[IS_SECRECY] [bit] NOT NULL,
	[SUBMISSION_THING] [nvarchar](500) NULL,
	[ATTACHMENT] [nvarchar](255) NULL,
	[COMPLETION_CRITERIA] [nvarchar](500) NULL,
	[WORK_METHOD] [nvarchar](500) NULL,
	[PROGRESS] [decimal](3, 0) NOT NULL,
 CONSTRAINT [PK_SUB_TASK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXTRA_MESSAGE] [nvarchar](100) NULL,
	[RELATED_TASK] [int] NOT NULL,
	[IS_TASK] [bit] NOT NULL,
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAILY_UPDATE]    Script Date: 10/22/2015 23:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY_UPDATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIME] [datetime] NOT NULL,
	[WORK_CONTENT] [nvarchar](500) NULL,
	[EXTRA_TASK] [nvarchar](500) NULL,
	[SPEND_TIME] [decimal](4, 0) NULL,
	[SUB_TASK] [int] NOT NULL,
 CONSTRAINT [PK_DAILY_UPDATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_ACCESSPATH_HTTPMETHOD]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[ACCESSPATH] ADD  CONSTRAINT [DF_ACCESSPATH_HTTPMETHOD]  DEFAULT ('*') FOR [HTTPMETHOD]
GO
/****** Object:  Default [DF_EMPLOYEE_HEAD_PICTURE]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD  CONSTRAINT [DF_EMPLOYEE_HEAD_PICTURE]  DEFAULT ('defaultHead.jpg') FOR [HEAD_PICTURE]
GO
/****** Object:  Default [DF_DAILY_UPDATE_TIME]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[DAILY_UPDATE] ADD  CONSTRAINT [DF_DAILY_UPDATE_TIME]  DEFAULT (getdate()) FOR [TIME]
GO
/****** Object:  Check [CK_PROGRESS]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[SUB_TASK]  WITH CHECK ADD  CONSTRAINT [CK_PROGRESS] CHECK  (([PROGRESS]<=(100) AND [PROGRESS]>=(0)))
GO
ALTER TABLE [dbo].[SUB_TASK] CHECK CONSTRAINT [CK_PROGRESS]
GO
/****** Object:  Check [CK_SPEND_TIME]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[DAILY_UPDATE]  WITH CHECK ADD  CONSTRAINT [CK_SPEND_TIME] CHECK  (([SPEND_TIME]<=(1440) AND [SPEND_TIME]>=(0) OR [SPEND_TIME] IS NULL))
GO
ALTER TABLE [dbo].[DAILY_UPDATE] CHECK CONSTRAINT [CK_SPEND_TIME]
GO
/****** Object:  ForeignKey [FK_STATE_ID]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_STATE_ID] FOREIGN KEY([STATE])
REFERENCES [dbo].[STATE] ([ID])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [FK_STATE_ID]
GO
/****** Object:  ForeignKey [FK_ACCESSPATH_ID]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_ACCESSPATH_ID] FOREIGN KEY([ACCESSPATH_ID])
REFERENCES [dbo].[ACCESSPATH] ([ACCESSPATH_ID])
GO
ALTER TABLE [dbo].[PERMISSION] CHECK CONSTRAINT [FK_ACCESSPATH_ID]
GO
/****** Object:  ForeignKey [FK_EMP_DEPARTMENT]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMP_DEPARTMENT] FOREIGN KEY([DEPARTMENT])
REFERENCES [dbo].[DEPARTMENT] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMP_DEPARTMENT]
GO
/****** Object:  ForeignKey [FK_EMP_ROLE]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMP_ROLE] FOREIGN KEY([ROLE])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMP_ROLE]
GO
/****** Object:  ForeignKey [FK_ARRANGE_PERSON]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_ARRANGE_PERSON] FOREIGN KEY([ARRANGE_PERSON])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_ARRANGE_PERSON]
GO
/****** Object:  ForeignKey [FK_CHECK_PERSON]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_CHECK_PERSON] FOREIGN KEY([CHECK_PERSON])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_CHECK_PERSON]
GO
/****** Object:  ForeignKey [FK_EXE_PERSON]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_EXE_PERSON] FOREIGN KEY([EXE_PERSON])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_EXE_PERSON]
GO
/****** Object:  ForeignKey [FK_PROJECT]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT] FOREIGN KEY([PROJECT])
REFERENCES [dbo].[PROJECT] ([ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_PROJECT]
GO
/****** Object:  ForeignKey [FK_STATE]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_STATE] FOREIGN KEY([STATE])
REFERENCES [dbo].[STATE] ([ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_STATE]
GO
/****** Object:  ForeignKey [FK_ARRANGE_PERSON2]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[SUB_TASK]  WITH CHECK ADD  CONSTRAINT [FK_ARRANGE_PERSON2] FOREIGN KEY([ARRANGE_PERSON])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[SUB_TASK] CHECK CONSTRAINT [FK_ARRANGE_PERSON2]
GO
/****** Object:  ForeignKey [FK_CHECK_PERSON2]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[SUB_TASK]  WITH CHECK ADD  CONSTRAINT [FK_CHECK_PERSON2] FOREIGN KEY([CHECK_PERSON])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[SUB_TASK] CHECK CONSTRAINT [FK_CHECK_PERSON2]
GO
/****** Object:  ForeignKey [FK_EXE_PERSON2]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[SUB_TASK]  WITH CHECK ADD  CONSTRAINT [FK_EXE_PERSON2] FOREIGN KEY([EXE_PERSON])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[SUB_TASK] CHECK CONSTRAINT [FK_EXE_PERSON2]
GO
/****** Object:  ForeignKey [FK_STATE2]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[SUB_TASK]  WITH CHECK ADD  CONSTRAINT [FK_STATE2] FOREIGN KEY([STATE])
REFERENCES [dbo].[STATE] ([ID])
GO
ALTER TABLE [dbo].[SUB_TASK] CHECK CONSTRAINT [FK_STATE2]
GO
/****** Object:  ForeignKey [FK_TASK]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[SUB_TASK]  WITH CHECK ADD  CONSTRAINT [FK_TASK] FOREIGN KEY([TASK])
REFERENCES [dbo].[TASK] ([ID])
GO
ALTER TABLE [dbo].[SUB_TASK] CHECK CONSTRAINT [FK_TASK]
GO
/****** Object:  ForeignKey [FK_RELATED_TASK]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_RELATED_TASK] FOREIGN KEY([RELATED_TASK])
REFERENCES [dbo].[TASK] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_RELATED_TASK]
GO
/****** Object:  ForeignKey [FK_RELATED_TASK2]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_RELATED_TASK2] FOREIGN KEY([RELATED_TASK])
REFERENCES [dbo].[SUB_TASK] ([ID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_RELATED_TASK2]
GO
/****** Object:  ForeignKey [FK_SUB_TASK]    Script Date: 10/22/2015 23:16:57 ******/
ALTER TABLE [dbo].[DAILY_UPDATE]  WITH CHECK ADD  CONSTRAINT [FK_SUB_TASK] FOREIGN KEY([SUB_TASK])
REFERENCES [dbo].[SUB_TASK] ([ID])
GO
ALTER TABLE [dbo].[DAILY_UPDATE] CHECK CONSTRAINT [FK_SUB_TASK]
GO
