@model JobOA.Model.Employee
<img src="~/Content/images/userImg/@Model.HeadPicture" alt="头像" width="40" height="40" class="am-img-thumbnail am-circle">
@Model.RealName<span class="am-icon-caret-down"></span>
