@using JobOA.Model.ViewModel

@{
    Pager pager = ViewData["Pager"] as Pager;
    string action=ViewContext.RouteData.Values["action"] as string;
    string controller = ViewContext.RouteData.Values["controller"] as string;
    string prev = pager.HasPrev ? "" : "class=\"am-disabled\"";
    string next = pager.HasNext ? "" : "class=\"am-disabled\"";
}
<div class="am-cf">
    共 @pager.Total 条记录
    <div class="am-fr">
        <ul class="am-pagination">
            <li><a href="Index?pageIndex=1">|&lt;&lt;</a></li>
            <li @prev><a href="@action?pageIndex=@(Convert.ToString(pager.PageIndex-1))">&lt;&lt;</a></li>
            @for (int i = pager.Start; i <= pager.End; i++)
            {
                if (pager.PageIndex == i)
                {
                    <li class="am-active"><a href="@action?pageIndex=@i">@i</a></li>
                }
                else
                {
                    <li><a href="@action?pageIndex=@i">@i</a></li>
                }
            }
            <li @next><a href="#">&gt;&gt;</a></li>
            <li><a href="@Convert.ToString(pager.PageCount)">&gt;&gt;|</a></li>
        </ul>
    </div>
</div>