#oa-dropdown-content{
  position:absolute;
  z-index:1;
  background-color:rgba(0, 148, 255,0.5);
  padding:0px;
  margin:0px;
}
#oa-dropdown-content li{
    width:100%;
}
#oa-dropdown-content:before{
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 8px dashed transparent;
  z-index: 1;
}
