@{
    ViewBag.Title = "找不到页面";
}

<script type="text/javascript">
        function tohref() {
            var href = window.location.href;
            var uri = href.substring(0, href.indexOf("/",7)+1);
            window.location.href = uri;
        }
</script>
    <div class="am-g">
        <div class="am-u-sm-12">
            <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
            <h1 class="am-text-center">没有找到你要的页面</h1>
            <p class="am-text-center">
                您可以尝试访问
                <a href="javascript:void(0)" onclick="tohref()">
                    首页
                </a>
            </p>
            <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @@          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
        </div>
    </div>
